<footer class="b-footer">
  <div class="b-footer__up-row">
    <div class="l-content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--3-col">
          <div class="b-footer-links">
            <div class="b-footer-links__head">
              Information for
            </div>
            <ul>
              <li><a href="#" class="underlined-link">Consumers</a></li>
              <li><a href="#" class="underlined-link">Enterprises</a></li>
              <li><a href="#" class="underlined-link">Carriers</a></li>
              <li><a href="#" class="underlined-link">Journalism</a></li>
              <li><a href="#" class="underlined-link">Suppliers</a></li>
              <li><a href="#" class="underlined-link">Job seekers</a></li>
            </ul>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col">
          <div class="b-footer-links">
            <div class="b-footer-links__head">
              About POLAR
            </div>
            <ul>
              <li><a href="#" class="underlined-link">Corporate information</a></li>
              <li><a href="#" class="underlined-link">Corporate governance</a></li>
              <li><a href="#" class="underlined-link">Executive</a></li>
              <li><a href="#" class="underlined-link">Bond investor relations</a></li>
              <li><a href="#" class="underlined-link">Sustainability</a></li>
              <li><a href="#" class="underlined-link">Cyber security</a></li>
              <li><a href="#" class="underlined-link">Publications</a></li>
              <li><a href="#" class="underlined-link">Annual report</a></li>
            </ul>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col">
          <div class="b-footer-links">
            <div class="b-footer-links__head">
              News & Events
            </div>
            <ul>
              <li><a href="#" class="underlined-link">Latest news</a></li>
              <li><a href="#" class="underlined-link">Media kit</a></li>
              <li><a href="#" class="underlined-link">Media contact</a></li>
              <li><a href="#" class="underlined-link">Security bulletins</a></li>
              <li><a href="#" class="underlined-link">Events</a></li>
            </ul>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col">
          <div class="b-footer-links">
            <div class="b-footer-links__head">
              Quick links
            </div>
            <ul>
              <li><a href="#" class="underlined-link">Online learning</a></li>
              <li><a href="#" class="underlined-link">POLAR marine</a></li>
              <li><a href="#" class="underlined-link">Give feedback</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="b-footer__down-row">
    <div class="l-content">
      <div class="mdl-grid top-bot-p-0">
        <div class="mdl-cell mdl-cell--6-col top-bot-m-0">
          <div class="b-copy">
            © 2016 — Polar Logistics International Oy
          </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-textfield--align-right top-bot-m-0">
          <div class="b-social">
            <ul>
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="b-footer-ground-links">
            <ul>
              <li><a href="#" class="underlined-link">Terms of use</a></li>
              <li><a href="#" class="underlined-link">Privacy</a></li>
              <li><a href="#" class="underlined-link">Contact</a></li>
              <li><a href="#" class="underlined-link">Sitemap</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
