<header class="mdl-layout__header mdl-layout__header--scroll">

  <!-- begin top-row -->
  <div class="b-top-row">
    <div class="l-content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--no-t-marg mdl-cell--4-col mdl-cell--12-col-tablet">
          <ul class="b-top-row__location">
            <li><a href="#" class="font-antialiased"><i class="material-icons">settings</i><span>Languages</span></a></li>
            <li><a href="#" class="font-antialiased"><i class="material-icons location-icon">location_on</i>
              <span>Russian Federation</span>
            </a></li>
          </ul>
        </div>
        <div class="mdl-cell mdl-cell--no-t-marg mdl-cell--8-col mdl-cell--12-col-tablet">
          <ul class="b-top-row__urls">
            <li><a href="#" class="font-antialiased">Polarlog.com</a></li>
            <li><a href="#" class="font-antialiased">Become Polar Partner</a></li>
            <li><a href="#" class="font-antialiased">Career In Polar Group</a></li>
            <li><a href="#" class="font-antialiased">Laws And Regulations</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- end top-row -->

  <!-- begin header -->
  <div class="mdl-layout__header-row">
    <div class="l-content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <!-- Title -->
          <span class="mdl-layout-title">Main menu</span>
          <a href="#" class="b-logo">
            <img src="img/logo-polar-group.png" alt="">
          </a>
          <div class="l-main-menu-wrapper">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
              mdl-textfield--floating-label mdl-textfield--align-right mobile-hide">
              <label class="mdl-button mdl-js-button mdl-button--icon"
                for="fixed-header-drawer-exp">
                <i class="icon-search"></i>
              </label>
              <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" name="sample"
                id="fixed-header-drawer-exp">
              </div>
            </div>

            <!-- begin search-button for mobile devices -->
            <div class="b-mobile-search mobile-show">
              <div class="mdl-textfield">
              <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="icon-search"></i>
              </button>  
              </div>
            </div>
            <!-- end search-button for mobile devices -->

            <!-- Navigation -->
            <nav class="mdl-navigation mdl-navigation--main-menu">
              
              <button class="mdl-button mdl-button--no-capital" id="about-us">About us</button>
              <ul class="mdl-menu mdl-js-menu" for="about-us">
                <li class="mdl-menu__item">Phylosophy</li>
                <li class="mdl-menu__item">About Polar Group</li>
                <li class="mdl-menu__item">Extending logistics</li>
              </ul>
              <button class="mdl-button mdl-button--no-capital" id="services">Services</button>
              <ul class="mdl-menu mdl-js-menu" for="services">
                <li class="mdl-menu__item">Polar Logistics</li>
                <li class="mdl-menu__item">Polar Puls</li>
              </ul>
              <button class="mdl-button mdl-button--no-capital" id="solutions">Solutions</button>
              <ul class="mdl-menu mdl-js-menu" for="solutions">
                <li class="mdl-menu__item">Online services</li>
                <li class="mdl-menu__item">Polar Connect</li>
              </ul>
              <button class="mdl-button mdl-button--no-capital" id="media">Media</button>
              <ul class="mdl-menu mdl-js-menu" for="media">
                <li class="mdl-menu__item">News</li>
                <li class="mdl-menu__item">Press kit</li>
                <li class="mdl-menu__item">Publication</li>
                <li class="mdl-menu__item">Image library</li>
                <li class="mdl-menu__item">Awards and certificates</li>
              </ul>
              
              <button class="mdl-button mdl-button--no-capital" id="contacts">Contacts</button>
            </nav>
          </div>
          </div>
        </div>
      </div>
  </div>
  <!-- end header -->

</header>

<!-- begin asside-menu -->
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Main menu</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="">About us</a>
    <a class="mdl-navigation__link" href="">Services</a>
    <a class="mdl-navigation__link" href="">Solutions</a>
    <a class="mdl-navigation__link" href="">Media</a>
    <a class="mdl-navigation__link" href="">Contacts</a>
  </nav>
</div>
<!-- end asside-menu -->