<div id="main-slideshow" data-width="16" data-height="7" data-autoslide="5000" data-scale="fill" data-paused="false"></div>

<ul id="main-slideshow-content" class="royalSlider rsHomePorthole">
   <li>
      <img class="rsImg preload-me" src="pic/main-slider/1.jpg" data-rstmb="pic/main-slider/1.jpg" alt="<strong id=&quot;ob&quot;>Таможенное оформление</strong>">
      <figure class="rsCapt rsABlock">
         <div class="rsTitle"><strong id="ob">Polar Logistics</strong></div>
         <div class="rsDesc">
           <a class="dt-btn dt-btn-l btn-red right-to-left animate-element animation-builder animation-triggered start-animation" href="/services/tamozhennoe-oformlenie/" target="_blank">
              Provides classical transportations services, <br>
              offering  land, sea, <br>
              rail and airfreight <br>
              <img src="img/slider-logo.png" alt="">
           </a>
         </div>
      </figure>
   </li>
   <li>
      <img class="rsImg preload-me" src="pic/main-slider/2.jpg" data-rstmb="pic/main-slider/2.jpg" alt="<strong id=&quot;ob&quot;>Контейнерные перевозки</strong>">
      <figure class="rsCapt rsABlock">
         <div class="rsTitle"><strong id="ob">Polar Logistics</strong></div>
         <div class="rsDesc">
           <a class="dt-btn dt-btn-l btn-red right-to-left animate-element animation-builder animation-triggered start-animation" href="/services/tamozhennoe-oformlenie/" target="_blank">
              Provides classical transportations services, <br>
              offering  land, sea, <br>
              rail and airfreight <br>
              <img src="img/slider-logo.png" alt="">
           </a>
         </div>
      </figure>
   </li>
</ul>
