.b-big-header {
  font-size: 72px;
  line-height: 60px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
}
.b-secondary-frase {
  color: #aaaaaa;
  font-size: 36px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $proximaFont;
}
