.b-main-menu {
  list-style: none;
  font-size: 18px;
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;
    margin: 0 10px 0 35px;
    position: relative;
  }

  &__item a {
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    white-space: nowrap;
  }

  &__sub {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    left: 0;
    background: #fff;
    border-radius: 4px;
    z-index: 600;
  }

  &__sub a {
    color: #000;
    font-size: 16px;
    border-bottom: 1px solid #cccccc;
    padding: 8px 10px;
    display: block;
  }

  &__sub a:hover {
    color: #fff;
    background: unquote("rgb(#{$color-accent})");
  }

  &__sub &__sub-item:first-child a:hover {
    border-radius: 4px 4px 0 0;
  }

  &__sub &__sub-item:last-child a:hover {
    border-radius: 0 0 4px 4px;
  }

  &__sub &__sub-item:last-child a {
    border: none;
  };

  &__item:hover &__sub {
    display: block;
  }

  &__sub-item {
    position: relative;
  }

  /* Sub-menu level2 */

  &__item &__sub &__sub {
    display: none;
    position: relative;
    left: -100%;
    background: #fff;
    overflow: visible;
    top: 0;
  }
  &__item &__sub-item:hover > &__sub-wrapper > &__sub {
    display: block;
  }

  &__item:hover &__sub &__sub-wrapper {
    height: 0;
    position: absolute;
    top: 0;
    z-index: 500;
  }

  &__sub-item:hover &__sub-wrapper.second {
    display: inline-block !important;
  }

  &__sub-wrapper.second {
    .b-main-menu__sub-item {
      border-bottom: 1px solid #cccccc;
    }
    .b-main-menu__sub-item:last-child {
      border: 0;
    }
    .b-main-menu__sub-item:first-child a {
      border-radius: 4px 4px 0 0;
    }
    .b-main-menu__sub-item:last-child a {
      border-radius: 0 0 4px 4px;
    }
  }
}

.mdl-layout__drawer {
  position: fixed;

  .mdl-navigation {
    padding-top: 0;

    .mdl-navigation__link {
      padding: 12px 16px;
    }
  }
}
.mdl-layout__drawer-button {
  position: fixed;
}

.adaptive-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.adaptive-menu__list li a {
  border-bottom: 1px solid rgb(224, 224, 224);
}
.adaptive-menu__list-inner {
  list-style: none;
  padding: 0;
}
.adaptive-menu__list-inner li a {
  padding-left: 30px !important;
}
.mdl-layout__header {
  z-index: 200;
}
.b-main-menu__item:last-child .b-main-menu__sub {
  right: 0;
  left: auto;
}

/*--- Adaptive ---*/
@media screen and (max-width: 1500px) {
  .b-main-menu__item:nth-last-child(2) > .b-main-menu__sub {
    left: -80px;
  }
  //.b-main-menu__item:nth-last-child(3) .b-main-menu__sub {
  //  left: -50px;
  //}
}
@media screen and (max-width: 1170px) {
  .b-main-menu {
    &__item {
      margin-left: 20px;
    }
  }
}
@media screen and (max-width: 960px) {
  .mdl-grid {
    padding-top: 0;
  }
  .mdl-layout__header {
    position: fixed;
  }
  .mdl-layout__content {
    padding-top: 56px;
  }
  .js-scrolling .mdl-layout__content {
    padding-top: 56px !important;
  }
}
