/* ----------------------------- MOBILE --------------------------- */
@media screen and (max-width:479px) {
	.mdl-layout__header {
		display: flex;
	}
	header .mdl-navigation {
		display: none;
	}
	.mdl-layout__drawer-button {
		color: #fff;
	}
	.b-top-row{
		display: none;
	}
	.mobile-hide {
		display: none;
	}
	.b-mobile-search {
		display: inline-block;
		width: 44px;
		position: absolute;
		top: 7px;
		right: 10px;
		padding: 0 !important;
	}
	.b-logo {
		width: 100px;
		padding: 0;
		position: absolute;
		top: 8px;
		left: 65px;
	}
	header .mdl-textfield {
		padding: 0 !important;
	}
	.top-bot-m-0 { margin-top: 0; margin-bottom: 0; }
	.top-bot-p-0 { padding-top: 0; padding-bottom: 0; }
}

/* ----------------------------- TABLET --------------------------- */
@media screen and (min-width:480px) and (max-width:959px) {
	.mdl-layout__header {
		display: flex;
	}
	header .mdl-navigation {
		display: none;
	}
	.mdl-layout__drawer-button {
		color: #fff;
	}
	.b-top-row {
		display: none;
	}
	.b-logo {
		width: 100px;
		padding: 0;
		position: absolute;
		top: 8px;
		left: 65px;
	}
	header .mdl-textfield {
		position: absolute;
		top: 7px;
		right: 10px;
		padding: 0 !important;
	}
	.mdl-textfield.is-focused .mdl-textfield__expandable-holder,
	.mdl-textfield.is-dirty .mdl-textfield__expandable-holder {
		max-width: 800px;
		// width: 100%;
	}
	.mobile-show {
		display: none;
	}
	.top-bot-m-0 { margin-top: 0; margin-bottom: 0; }
	.top-bot-p-0 { padding-top: 0; padding-bottom: 0; }
}

/* ----------------------------- DESKTOP --------------------------- */

@media screen and (min-width:960px) {
	.mdl-layout__drawer-button {
		display: none;
	}
	.mobile-show {
		display: none;
	}
	.top-bot-m-0 { margin-top: 0; margin-bottom: 0; }
	.top-bot-p-0 { padding-top: 0; padding-bottom: 0; }
}

@media screen and (max-width: 1600px) {
	.b-main-slider__loginform {
		top: 30px;
	}
}


@media screen and (max-width: 1500px) {
	.b-form	{
		margin-bottom: 10px;
	}
	.b-form__header {
		margin: 10px 0;
	}
	.b-main-slider__loginform {
		left: 15px;
	}
	.rsTitle {
	  font-weight: 600;
	  font-size: 50px;
	  line-height: 50px;
	}
	.rsDesc {
	  a {
	    color: #fff;
	    text-decoration: none;
	    font-size: 20px;
	    line-height: 30px;
	    padding: 10px 0;
	    display: inline-block;
	  }
	  img {
	    margin-top: 10px;
	  }
	}
	.rsHomePorthole .rsCapt {
	  height: 80%;
	}
	.b-sec-slider--news {
		.b-one-slide-block__wrapper {
			height: 530px;
		}
	}
}

@media screen and (max-width: 1170px) {
	.mdl-layout__header {
		display: flex;
	}
	.top-bot-m-0 { margin-top: 0; margin-bottom: 0; }
	.top-bot-p-0 { padding-top: 0; padding-bottom: 0; }

	.mdl-navigation--main-menu .mdl-button { margin: 0 18px; }

	.b-main-slider__loginform {
		top: 105%;
		left: 50%;
		transform: translateX(-50%)
	}
	.rsHomePorthole .rsCapt {
		left: 45% !important;
		transform: translateX(-50%) !important;
	}
	.rsHomePorthole .rsTitle {
		display: none;
	}
	.rsDesc a {
		font-size: 18px;
		line-height: 1.2;
	}
	.rsDesc img {
		width: 60%;
		height: auto;
	}

	.b-extending-logistics__content--left {
		width: 520px;
	}

	.b-extending-logistics {
		margin-top: 550px;
		&__content {
          width: 95%;
          margin: 0 auto;
		}
      .b-big-header {
        font-size: 48px;
        line-height: 1.1;
        margin-bottom: 30px;
      }
      .b-secondary-frase {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 30px;
      }
	}
    .b-vertex-background--thick .b-vertex-background__content {
      padding: 70px 0 100px;
    }
	.b-sec-slider {
	  padding: 30px 0;
      &__head {
        font-size: 48px;
      }
	}
}

@media screen and (max-width: 1024px) {
	.mdl-layout__header {
		display: flex;
	}
	.top-bot-m-0 { margin-top: 0; margin-bottom: 0; }
	.top-bot-p-0 { padding-top: 0; padding-bottom: 0; }

	.mdl-navigation--main-menu .mdl-button { margin: 0 12px; }
    .b-extending-logistics {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      &__content--left, &__content--right {
        float: none;
      }
      &__content--right {
        margin: 0 auto;
      }
    }
	.swiper-container {
		width: 94%;
		.b-one-slide-block {
			width: 50% !important;
		}
		.swiper-button-next {
			right: -8px;
		}
	}
}

@media screen and (max-width:800px) {
    .b-vertex-background__head {
      font-size: 48px;
    }
	.rsDesc img {
		display: none;
	}
    .b-vertex-background--thick .b-vertex-background {
      &__content {
        padding: 20px 0 50px;
      }
	  &__head {
        font-size: 36px;
	  }
	  &__text {
        font-size: 24px;
		padding: 0 15px;
	  }
	}
   .b-extending-logistics {
     margin-bottom: 40px;

     .b-big-header {
       font-size: 36px;
     }
   }
}

@media screen and (max-width:600px) {
	.b-extending-logistics {
		width: 100%;
		&__content {
		  width: 100%;
			&--left {
			  width: 96%;
			}
		}
	}
	.swiper-container {
		.b-one-slide-block {
			width: 100% !important;
		}
	}
    .b-sec-slider {
      padding: 25px 0;
      &__head {
        font-size: 30px;
        margin-bottom: 30px;
      }
    }
}

@media screen and (max-width:480px) {
	.l-login-form {
		width: 95%;
		min-width: 300px;
	}
	.b-means__item--thin, .b-means__item--thin:last-child {
      float: none;
      margin: 0 auto;
    }
    .b-extending-logistics {
      &__contacts {
        width: 96%;
        height: auto;
        margin: 0 auto;
        background-size: cover;
      }
      &__content--right {
        width: 100%;
      }
      &__button {
        padding-bottom: 30px;
      }
    }
}

/*--------- ABOUT ---------*/
@media screen and (max-width: 1170px) {
  .b-means {
    &__left-col .b-means__text {
      left: -30%;
    }
    &__right-col .b-means__text {
      left: -150%;
    }
  }
}
@media screen and (max-width: 1024px) {
  .b-attitude {
    width: 100%;
    margin: 0;
    &__pic {
      width: 90%;
      max-width: 860px;
      margin-top: 30px;
    }
    &__left, &__right {
      width: 45%;
    }
  }
  .b-philosophy {
    background-size: cover;
    background-position: center center;
    height: auto;
    margin-bottom: 40px;
    &__content {
      width: 90%;
      padding-bottom: 30px;
    }
    &__head {
      font-size: 48px;
      line-height: 1.2;
      margin: 0 0 40px;
      padding-top: 40px;
    }
  }
  .b-vertex-background--about {
    .b-vertex-background__table {
      height: 300px;
    }
  }
  .b-means {
    &__head {
      font-size: 48px;
      line-height: 1.1;
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 800px) {
  .b-attitude {
    margin: 0;
    &__head {
      font-size: 48px;
      line-height: 1.2;
      margin: 0;
    }
    &__text p {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  .b-philosophy {
    &__content p {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  .b-means {
    width: 90%;
    &__left-col, &__right-col {
      float: none;
      margin: 0 auto;
    }
    &__item {
      margin-bottom: 40px;
    }
    &__image {
      width: 100%;
      text-align: center;
    }
    &__text {
      width: 90%;
      left: 0 !important;
    }
    &__text p {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 600px) {
  .b-attitude__left, .b-attitude__right {
    width: 90%;
    float: none;
    margin: 0 auto 40px;
  }
}

/*--------- SAMPLE PAGE TRANSPORT ---------*/
@media screen and (max-width: 1360px) {
  .b-transport-cards {
    &__wrap {
      width: 68%;
      margin: 0 auto;
    }
    &__item {
      margin-right: 0;
    }
    &__item:nth-child(odd) {
      float: right;
    }
  }
}

@media screen and (max-width: 1024px) {
  .b-vertex-background {
    &--vacancy &__table {
      height: 300px;
    }
  }
  .b-text-main {
    margin: 15px 0 40px;
    &__big {
      font-size: 30px;
      margin-bottom: 40px;
    }
  }
  .b-transport-cards {
    &__wrap {
      width: 90%;
    }
  }
}
@media screen and (max-width: 800px) {
  .b-text-main {
    margin: 0 0 20px;
    &__big {
      font-size: 24px;
      margin-bottom: 20px;
    }
    &__small {
      font-size: 18px;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  .b-transport-cards {
    &__wrap {
      width: 95%;
    }
    &__item {
      margin-bottom: 40px;
    }
    &__button {
      margin-bottom: 40px;
    }
  }
}
@media screen and (max-width: 680px) {
  .b-transport-cards {
    &__item {
      float: none !important;
      margin-left: auto;
      margin-right: auto !important;
    }
  }
}

/*--------- PARTNERS ---------*/
@media screen and (max-width: 1500px) {
  .b-vertex-background {
    &--partner {
      margin-bottom: 0;
    }
    &--partner &__table {
      height: 680px;
    }
  }
  .b-text-content {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1280px) {
  .b-vertex-background {
    &--partner &__table {
      height: 600px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .b-vertex-background {
    &--partner &__table {
      height: 450px;
    }
  }
  .b-text-content p {
    font-size: 24px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 800px) {
  .b-vertex-background {
    &--partner &__table {
      height: 350px;
    }
  }
  .b-text-content p {
    font-size: 20px;
  }
  .b-button-wrapper {
    margin: 40px 0;
  }
}
@media screen and (max-width: 600px) {
  .b-vertex-background {
    &--partner &__table {
      height: 300px;
    }
  }
}
@media screen and (max-width: 480px) {
  .b-vertex-background {
    &--partner &__table {
      height: 230px;
    }
  }
}

/*--------- POPUP ---------*/
@media screen and (max-width: 480px) {
  .b-popup__content {
    width: 100%;
    min-width: 280px;
    //padding-left: 10px;
    //padding-right: 10px;
  }
  .b-question__form {
    width: 90%;
  }
}