/* ----------------------------- MOBILE --------------------------- */
@media screen and (max-width:479px) {
	.mdl-layout__header {
		display: flex;
	}
	header .mdl-navigation {
		display: none;
	}
	.mdl-layout__drawer-button {
		color: #fff;
	}
	.b-top-row{
		display: none;
	}
	.mobile-hide {
		display: none;
	}
	.b-mobile-search {
		display: inline-block;
		width: 44px;
		position: absolute;
		top: 7px;
		right: 10px;
		padding: 0 !important;
	}
	.b-logo {
		width: 100px;
		padding: 0;
		position: absolute;
		top: 8px;
		left: 65px;
	}
	header .mdl-textfield {
		padding: 0 !important;
	}
	.top-bot-m-0 { margin-top: 0; margin-bottom: 0; }
	.top-bot-p-0 { padding-top: 0; padding-bottom: 0; }
}

/* ----------------------------- TABLET --------------------------- */
@media screen and (min-width:480px) and (max-width:959px) {
	.mdl-layout__header {
		display: flex;
	}
	header .mdl-navigation {
		display: none;
	}
	.mdl-layout__drawer-button {
		color: #fff;
	}
	.b-top-row {
		display: none;
	}
	.b-logo {
		width: 100px;
		padding: 0;
		position: absolute;
		top: 8px;
		left: 65px;
	}
	header .mdl-textfield {
		position: absolute;
		top: 7px;
		right: 10px;
		padding: 0 !important;
	}
	.mdl-textfield.is-focused .mdl-textfield__expandable-holder,
	.mdl-textfield.is-dirty .mdl-textfield__expandable-holder {
		max-width: 800px;
		// width: 100%;
	}
	.mobile-show {
		display: none;
	}
	.top-bot-m-0 { margin-top: 0; margin-bottom: 0; }
	.top-bot-p-0 { padding-top: 0; padding-bottom: 0; }
}

/* ----------------------------- DESKTOP --------------------------- */
@media screen and (min-width:960px) {
	.mdl-layout__drawer-button {
		display: none;
	}
	.mobile-show {
		display: none;
	}
	.top-bot-m-0 { margin-top: 0; margin-bottom: 0; }
	.top-bot-p-0 { padding-top: 0; padding-bottom: 0; }
}
@media screen and (max-width: 1024px) {
	.mdl-layout__header {
		display: flex;
	}
	.top-bot-m-0 { margin-top: 0; margin-bottom: 0; }
	.top-bot-p-0 { padding-top: 0; padding-bottom: 0; }
}

@media screen and (max-width: 1500px) {
	.b-form	{
		margin-bottom: 10px;
	}
	.b-form__header {
		margin: 10px 0;
	}
	.b-main-slider__loginform {
		left: 15px;
	}
	.rsTitle {
	  font-weight: 600;
	  font-size: 50px;
	  line-height: 50px;
	}
	.rsDesc {
	  a {
	    color: #fff;
	    text-decoration: none;
	    font-size: 20px;
	    line-height: 30px;
	    padding: 10px 0;
	    display: inline-block;
	  }
	  img {
	    margin-top: 10px;
	  }
	}
	.rsHomePorthole .rsCapt {
	  height: 80%;
	}

}
