/* ----------------------------- MOBILE --------------------------- */
@media screen and (max-width:479px) {
	.mdl-layout__header {
		display: flex;
	}
	header .mdl-navigation {
		display: none;
	}
	.mdl-layout__drawer-button {
		color: #fff;
	}
	.b-top-row{
		display: none;
	}
	.mobile-hide {
		display: none;
	}
	.b-mobile-search {
		display: inline-block;
		width: 44px;
		position: absolute;
		top: 7px;
		right: 10px;
		padding: 0 !important;
	}
	.b-logo {
		width: 100px;
		padding: 0;
		position: absolute;
		top: 8px;
		left: 65px;
	}
	header .mdl-textfield {
		padding: 0 !important;
	}
	.top-bot-m-0 { margin-top: 0; margin-bottom: 0; }
	.top-bot-p-0 { padding-top: 0; padding-bottom: 0; }
}

/* ----------------------------- TABLET --------------------------- */
@media screen and (min-width:480px) and (max-width:959px) {
	.mdl-layout__header {
		display: flex;
	}
	header .mdl-navigation {
		display: none;
	}
	.mdl-layout__drawer-button {
		color: #fff;
	}
	.b-top-row {
		display: none;
	}
	.b-logo {
		width: 100px;
		padding: 0;
		position: absolute;
		top: 8px;
		left: 65px;
	}
	header .mdl-textfield {
		position: absolute;
		top: 7px;
		right: 10px;
		padding: 0 !important;
	}
	.mdl-textfield.is-focused .mdl-textfield__expandable-holder,
	.mdl-textfield.is-dirty .mdl-textfield__expandable-holder {
		max-width: 800px;
		// width: 100%;
	}
	.mobile-show {
		display: none;
	}
	.top-bot-m-0 { margin-top: 0; margin-bottom: 0; }
	.top-bot-p-0 { padding-top: 0; padding-bottom: 0; }
}

/* ----------------------------- DESKTOP --------------------------- */

@media screen and (min-width:960px) {
	.mdl-layout__drawer-button {
		display: none;
	}
	.mobile-show {
		display: none;
	}
	.top-bot-m-0 { margin-top: 0; margin-bottom: 0; }
	.top-bot-p-0 { padding-top: 0; padding-bottom: 0; }
}

@media screen and (max-width: 1600px) {
	.b-main-slider__loginform {
		top: 30px;
	}
}


@media screen and (max-width: 1500px) {
	.b-form	{
		margin-bottom: 10px;
	}
	.b-form__header {
		margin: 10px 0;
	}
	.b-main-slider__loginform {
		left: 15px;
	}
	.rsTitle {
	  font-weight: 600;
	  font-size: 50px;
	  line-height: 50px;
	}
	.rsDesc {
	  a {
	    color: #fff;
	    text-decoration: none;
	    font-size: 20px;
	    line-height: 30px;
	    padding: 10px 0;
	    display: inline-block;
	  }
	  img {
	    margin-top: 10px;
	  }
	}
	.rsHomePorthole .rsCapt {
	  height: 80%;
	}
}

@media screen and (max-width: 1170px) {
	.mdl-layout__header {
		display: flex;
	}
	.top-bot-m-0 { margin-top: 0; margin-bottom: 0; }
	.top-bot-p-0 { padding-top: 0; padding-bottom: 0; }

	.mdl-navigation--main-menu .mdl-button { margin: 0 18px; }

	.b-main-slider__loginform {
		top: 105%;
		left: 50%;
		transform: translateX(-50%)
	}
	.rsHomePorthole .rsCapt {
		left: 45% !important;
		transform: translateX(-50%) !important;
	}
	.rsHomePorthole .rsTitle {
		display: none;
	}
	.rsDesc a {
		font-size: 18px;
		line-height: 1.2;
	}
	.rsDesc img {
		width: 60%;
		height: auto;
	}

	.b-extending-logistics__content--left {
		width: 520px;
	}

	.b-extending-logistics {
		margin-top: 550px;
		&__content {
          width: 95%;
          margin: 0 auto;
		}
      .b-big-header {
        font-size: 48px;
        margin-bottom: 30px;
      }
      .b-secondary-frase {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 30px;
      }
	}
    .b-vertex-background--thick .b-vertex-background__content {
      padding: 70px 0 100px;
    }
}

@media screen and (max-width: 1024px) {
	.mdl-layout__header {
		display: flex;
	}
	.top-bot-m-0 { margin-top: 0; margin-bottom: 0; }
	.top-bot-p-0 { padding-top: 0; padding-bottom: 0; }

	.mdl-navigation--main-menu .mdl-button { margin: 0 12px; }
    .b-extending-logistics {
      width: 90%;
      margin-left: auto;
      margin-right: auto;

      &__content--left, &__content--right {
        float: none;
      }
      &__content--right {
        margin: 0 auto;
      }
    }

}

@media screen and (max-width:800px) {
	.rsDesc img {
		display: none;
	}
    .b-vertex-background--thick .b-vertex-background {
      &__content {
        padding: 20px 0 50px;
      }
	  &__head {
        font-size: 48px;
	  }
	  &__text {
        font-size: 24px;
		padding: 0 30px;
	  }
	}
}