.js-scrolling {
  .b-top-row {
    display: none;
  }
  header {
    display: block;
    position: fixed;
    top: 0;
  }
  .mdl-layout__content {
    padding-top: 128px;
  }
}

@media screen and (max-width: 991px) {
  .js-scrolling {
    header {
      display: none;
    }
  }
}
