/*-----------------------------------MIXINS----------------------------------*/
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/*-----------------------------------GLOBALS----------------------------------*/
html, body {
	font-family: $proximaFont;
	font-weight: $fontNormal;
}
/*-----------------------------------LAYERS----------------------------------*/
.l-content {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
  @include clearfix();

  &--wide{
    width: 100%;
    max-width: none;
  }
  &--dark{
    background: unquote("rgb(#{$color-primary})");
  }
}
.l-main-menu-wrapper {
	float: right;
}
.l-login-form {
	width: 482px;
	background-color: rgba(52, 65, 145, 0.8);
	border-radius: 5px;
}
/*-----------------------------------BLOCKS----------------------------------*/
.mdl-cell--no-t-marg {
	margin-top: 0;
	margin-bottom: 0;
}
.mdl-grid--no-t-pad {
	padding-top: 0;
	padding-bottom: 0;
}
.mdl-button {
	font-family: $proximaFont;
	font-weight: $fontNormal;
	color: #fff;
}
.mdl-layout__header .mdl-layout-title {
	display: none;
}
.mdl-layout__header-row, .mdl-layout__header-row .mdl-navigation {
	height: auto;
}
.mdl-layout__header-row {
	padding: 0;
}
.mdl-button--no-capital {
	text-transform: none;
}
.mdl-button--bold  {
  font-weight: 600;
  font-size: 19px;
  padding: 0 21px;
}
.mdl-navigation--main-menu {
	display: inline-block;
	float: right;
	padding: 40px 0 !important;

	.mdl-button {
		font-size: 22px;
		padding: 0;
		line-height: 22px;
		height: 22px;
		margin: 0 35px;
	}

	.mdl-button:hover + .mdl-menu__container{
		visibility: visible;
	}

	.mdl-button:hover, .mdl-button:focus:not(:active) {
		background: none;
		border-bottom: 1px solid #9fa4c5;
	}
    .mdl-button:last-child {
		margin-right: 0;
	}
	.mdl-menu__outline, .mdl-menu {
		top: 20px;
	}
	.mdl-menu {
		padding: 0px;
	}
	.mdl-menu__item {
		font-size: 20px;
		border-bottom: 1px solid #cccccc;
		height: 60px;
		line-height: 60px;
		color: #000;
	}
	.mdl-menu__item:last-child {
		border-bottom: none;
	}
	.mdl-menu__item:first-child:hover {
		border-radius: 2px 2px 0 0;
	}
	.mdl-menu__item:last-child:hover {
		border-radius: 0 0 2px 2px;
	}
	.mdl-menu__item:hover {
		background-color: #67afdd;
		color: #fff;
	}
}
header {
	.mdl-textfield {
		padding: 29px 35px 29px 0 !important;
		min-height: 44px;
	}
	.mdl-textfield .mdl-button {
		bottom: auto;
	}
	.mdl-textfield .mdl-button i {
		font-size: 44px;
	}
	.mdl-button--icon {
		width: 44px;
		height: 44px;
	}
	.mdl-textfield__input {
		font-family: $proximaFont;
		font-weight: $fontLight;
		border-bottom: 1px solid rgba(255, 255, 255, .4);
	}
	.mdl-textfield__expandable-holder {
		margin-left: 50px;
		padding-top: 5px;
	}
}
.b-logo {
	display: inline-block;
	width: 148px;
	float: left;
	padding: 24px 0;

	img {
		width: 100%;
		height: auto;
	}
}
.b-top-row {
	background: unquote("rgb(#{$color-accent})");

	a {
		color: #fff;
		text-decoration: none;
		border-color: unquote("rgb(#{$color-accent})");
		transition: border-color 0.3s linear 0s;
		font-size: 15px;
	}
	a:hover {
		border-bottom: 1px solid #94c5e6;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		display: inline-block;
		float: left;
		margin: 0 8px;
        position: relative;
	}
	li:last-child {
		margin-right: 0;
	}
	li:first-child {
		margin-left: 0;
	}

    .b-top-row__lang .mdl-button {
      padding: 0;
      line-height: 2;
    }
    .b-top-row__lang #lang {
      background: none;
    }
    .b-top-row__lang .mdl-button .material-icons{
      vertical-align: top;
    }
    .b-top-row__lang li.mdl-menu__item {
      width: 100%;
      margin: 0;
      padding: 0;
      height: 42px;
      border-bottom: 1px solid #cccccc;
    }
    .b-top-row__lang li.mdl-menu__item:last-child {
      border-bottom: none;
    }
    .b-top-row__lang-link {
      padding: 10px 15px;
      color: #000000;
      display: block;
      line-height: 1.5;
    }
    .b-top-row__lang-link:hover {
      background: #67afdd;
      color: #ffffff;
    }

	.b-top-row__urls{
		float: right;

		a {
			border-bottom: 1px solid #94c5e6;
			transition: border-color 0.3s linear 0s;
		}
		a:hover {
			border-color: unquote("rgb(#{$color-accent})");
		}
	}
	.b-top-row__location{
		float: left;

		a, a:hover {
			border: 0;
		}
		a span {
			border-bottom: 1px solid unquote("rgb(#{$color-accent})");
			transition: border-color 0.3s linear 0s;
		}
		a:hover span {
			border-color: #94c5e6;
		}
	}
	.material-icons {
		position: relative;
		font-size: 20px;
		margin-right: 8px;
		bottom: -4px;
	}
	.mdl-grid {
		padding-top: 6px;
		padding-bottom: 6px;
	}
}
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
	background-color: transparent !important;
	background-image: url('../img/tick.svg');
}
.mdl-checkbox__tick-outline {
	mask: url('../img/tick-mask.svg');
}

.b-main-slider {
  position: relative;
  margin-bottom: 30px;

	&__loginform {
		position: absolute;
		top: 80px;
		padding: 10px 40px;
		box-sizing: border-box;
    z-index: 200;
	}
}

.b-footer {
  &__up-row {
    background: unquote("rgb(#{$color-primary})");
    text-align: center;
  }
  &__down-row {
    color: #fff;
    font-size: 14px;
    background: unquote("rgb(#{$color-accent})");
  }
}

.b-footer-links { color: #fff; display: inline-block; text-align: left; padding: 20px 0;
  &__head {
    font-size: 24px;
    margin-bottom: 30px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    margin: 5px 0;
  }
  a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
  }
}

.b-social {
  display: inline-block;
  padding-top: 4px;
  margin: 0 15px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    float: left;
    padding: 0 5px;
  }
  a {
    height: 15px;
    width: 15px;
    padding: 2px;
    color: unquote("rgb(#{$color-accent})");
    text-decoration: none;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
    transition: background-color 0.1s linear 0s;
    transition: color 0.1s linear 0s;
  }
  a:hover, a:active {
    background: unquote("rgb(#{$color-primary})");
    color: #fff;
  }
}

.b-footer-ground-links {
  display: inline-block;
  padding-top: 5px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    float: left;
    position: relative;
    padding: 0 7px 0 6px;
  }
  li:after {
    content: '';
    display: block;
    width: 1px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: 4px;
    right: 0;
  }
  li:last-child:after {
    display: none;
  }
  a {
    color: #fff;
  }
}

.b-copy {
  padding-top: 8px;
}

.b-sec-slider {
  padding: 65px 0;

  &__head {
    font-size: 72px;
    line-height: 1;
    text-align: center;
    font-weight: $fontSemibold;
    margin-bottom: 60px;
  }
  .swiper-button {
    color: unquote("rgb(#{$color-primary})");
  }
  &--white {
    .b-sec-slider__head {
      color: #fff;
    }
    .b-one-slide-block__wrapper {
      background: #fff;
    }
    .swiper-button {
      color: #fff;
    }
  }
}

.b-sec-slider--news {
  .b-one-slide-block__wrapper {
    padding: 0;
  }
}

.swiper-button {
  margin-top: -15px;

  i {
    font-size: 40px;
    line-height: 40px !important;
    width: 40px !important;
    height: 40px !important;
  };
}

.swiper-button-prev {
  position: absolute;
  left: 0px;
  i {
    transform: translate(-21px, -19px) !important;
  };
}

.swiper-button-next {
  position: absolute;
  right: 0px;
  i {
    transform: translate(-19px, -20px) !important;
  };
}

.b-one-slide-block {
  width: 33.33333333333333%;
  box-sizing: border-box;
  float: left;
  padding: 2%;

  &__wrapper {
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;

    img {
      max-width: 100%;
      height: auto;
    }
  }
  &__text-wrapper {
    padding: 15px;
    text-align: left;
    font-size: 18px;
  }
  &__date {
    display: block;
    color: #aaaaaa;
    margin: 10px 0;
  }
  &__main-text {
    color: unquote("rgb(#{$color-primary})");
    margin: 10px 0 40px;
    display: block;
  }
  &__text {
    color: #000;
    margin: 10px 0;
    display: block;
  }
  &__more {
    text-align: right;
    display: block;
    a {
      color: #000;
      border-color: #000;
      display: inline-block;
    }
  }
}

.swiper-container {
    width: 90%;
    padding: 0 1.5%;
}

.b-text-content {
  & > * {
    font-size: 30px;
    line-height: 35px;
  }

  margin: 3em 0;

  p {
    margin: 1.2em 0;
  }

  strong {
    color: unquote("rgb(#{$color-primary})");
  }
}

.b-button-wrapper {
  margin: 4em 0;
  text-align: center;
}

.b-main-image {
  position: relative;
  &__image {
    display: block;
    width: 100%;

  &__image img {
      width: 100%;
      height: auto;
    }
  }
  &__wrapper {
    display: table;
    text-align: center;
    width: 100%;
  }
  &__row {
    display: table-row;
    text-align: center;
  }
  &__cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
  }
  &__text {

  }
}
/*-----------------------------------HOLDERS----------------------------------*/


/*-----------------------------------HELPERS----------------------------------*/
.bordered{ border:1px solid red; }
.font-antialiased { text-shadow: rgba(0,0,0,.3) 0 0 2px; }
.location-icon { margin-right: 0px !important; }
.top-bot-m-0 { margin-top: 0; margin-bottom: 0; }
.top-bot-p-0 { padding-top: 0; padding-bottom: 0; }

.underline-link {
	text-decoration: none;
	border-bottom: 1px solid #fff;
	transition: border-color 0.1s linear 0s;

	&:hover {
		text-decoration: none;
		border-color: transparent;
	}
}

.underlined-link {
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: border-color 0.1s linear 0s;

	&:hover {
		text-decoration: none;
		border-color: #fff;
	}
}

/*------------------------  PARTNERS ----------------------------*/

.b-text-main {
    margin-top: 40px;
    margin-bottom: 80px;

    & > * {
      font-size: 20px;
    }
    &__head {
      color: #344191;
      line-height: 1.2;
      font-weight: $fontSemibold;
      margin-bottom: 30px;
    }
    &__head2 {
      color: #000000;
      font-size: 72px;
      font-weight: $fontSemibold;
      text-align: center;
      margin: 80px 0;
    }
    &__paragraph {
      margin-bottom: 30px;
    }
    &__list{
      padding-left: 0;
      list-style: none;
      margin-bottom: 30px;
    }
    &__list-item:before{
      content: '\2022';
      padding-right: 30px;
    }
    &__btn a {
      font-size: 18px;
    }

    &__big {
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
      font-size: 36px;
      color: #aaaaaa;
      text-align: center;
      line-height: 1.2;
      margin-bottom: 75px;
    }
    &__big span{
      font-weight: $fontSemibold;
    }
    &__small{
      max-width: 900px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
}

.b-transport-cards {
  //width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  @include clearfix();

  &__item {
    width: 300px;
    float: left;
    margin:0 40px 80px 0;
    position: relative;
    cursor: pointer;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__item:hover &__item-full{
    display: block;
  }
  &__item-wrap {
    width: 100%;
    height: 100px;
    background: rgba(52,65,145,.8);
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 20px;
    color: #ffffff;
  }
  &__item-text {
    width: 100%;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__item-text h4 {
    font-weight: $fontSemibold;
    line-height: 1.1;
    text-align: center;
    margin: 0 auto;
  }
  &__item-text p{
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0 10px;
  }

  &__item-full {
    padding: 10px 10px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 20;
    color: #ffffff;
    background: #344191;
    display: none;
  }
  &__item-full h4{
    font-size: 20px;
    font-weight: $fontSemibold;
    line-height: 1.1;
    text-align: center;
    margin: 8px 0 0;
  }
  &__item-full p{
    font-size: 20px;
    text-align: center;
    margin: 0 0 15px;
  }
  &__item-full ul {
    list-style: none;
    padding: 0;
  }
  &__item-full ul li {
    font-size: 18px;
    line-height: 1.2;
    text-align: left;
    margin: 0;
  }
  &__item-full ul li:before{
    content: '\2022';
    padding-right: 5px;
  }

  &__button {
    text-align: center;
    margin-bottom: 80px;
  }
  &__button a {
    font-size: 18px;
  }
}

/*--------------------  NEWS  ----------------------*/

.b-news-filters {
  @include clearfix();

  &__head {
    font-size: 30px;
    color: #344191;
    line-height: 1;
    text-align: left;
    margin-bottom: 20px;
  }
  &__category, &__period {
    width: 400px;
    float: left;
    margin-right: 20px;
    margin-top: 0;
  }
  &__category-head {
    font-size: 24px;
    font-weight: $fontSemibold;
    color: #ffffff;
    background: #67afdd;
    text-align: center;
    line-height: 100px;
    height: 100px;
    margin: 0;
  }
  &__category-content {
    list-style: none;
    height: 220px;
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  &__category-item {
    width: 370px;
    height: 54px;
    border-bottom: 1px solid #cccccc;
    line-height: 54px;
  }
  &__category-item a {
    font-size: 20px;
    font-weight: $fontNormal;
    color: #000000;
    text-decoration: none;
    padding-left: 15px;
    display: block;
  }
  &__category-item:hover{
    background: #344191;
  }
  &__category-item:hover a{
    color: #ffffff;
  }
  &__category-active {
    background: #344191;
  }
  &__category-active a {
    color: #ffffff;
  }

  &__period-form {
    margin-top: 15px;
    margin-left: 15px;
  }
  &__period-radio {
    margin-bottom: 20px;
  }
  &__period-input {
    display: none;
  }
  &__period-label {
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    font-size: 20px;
  }
  &__period-label:before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 50%;
  }
  &__period-input:checked + &__period-label:before {
    content: "";
    background: #344191;
    border: none;
  }
  &__period-select {
    width: 240px;
    height: 34px;
    border: 1px solid #cccccc;
    color: #aaaaaa;
    line-height: 34px;
    font-size: 18px;
    font-family: $proximaFont;
    border-radius: 3px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  &__period-select:last-child {
    margin-left: 35px;
  }

  &__most-popular {
    width: 545px;
    float: left;
    margin-right: 20px;
    margin-top: 0;
  }
  &__most-popular-item {
    width: 500px;
    padding: 14px 0 14px 15px;
    border-bottom: 1px solid #cccccc;
  }
  &__most-popular-item a {
    font-size: 20px;
    font-weight: $fontNormal;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #9f9f9f;
  }
  &__most-popular-item a:hover {
    border-bottom: 1px solid transparent;
  }
}

/*-------------------*/

.b-news-list{
  margin-top: 80px;
  margin-bottom: 60px;
}

.b-news-item {
  margin-bottom: 40px;
  @include clearfix();

  &__image {
    width: 300px;
    float: left;
  }
  &__text {
    width: 1080px;
    float: right;
  }
  &__text > * {
    font-family: $proximaFont;
    font-size: 20px;
    line-height: 24px;
  }
  &__head {
    font-size: 30px;
    color: #344191;
    line-height: 30px;
    margin: 20px 0 35px;
  }
  &__subtitle {
    margin-bottom: 30px;
  }
  &__learn-more {
    width: 100%;
    text-align: right;
  }
  &__learn-more a {
    color: #000000;
  }
  &__learn-more a:hover {
    text-decoration: none;
  }
}
.pagination {
  width: 100%;

  &__list {
    list-style: none;
    text-align: center;
  }
  &__list-item {
    display: inline-block;
    margin: 0 5px;
    padding: 0 3px;
    vertical-align: middle;
  }
  &__list-item a {
    font-size: 20px;
    font-family: $proximaFont;
    color: #cccccc;
    text-decoration: none;
  }
  &__list-item.back > a, &__list-item.forward > a {
    color: #000000;
    font-size: 42px;
  }
  &__list-item.active > a {
    color: #344191;
  }
  &__list-item a:hover {
    color: #344191;
  }
}

/*----------   BODY-NEWS   -----------*/

.l-content {
  &__head {
    font-size: 50px;
    color: #344191;
    font-family: $proximaFont;
    font-weight: $fontSemibold;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  &__subtitle {
    font-size: 36px;
    font-family: $proximaFont;
  }
  &__img {
    width: 100%;
    max-width: 1400px;
    margin: 40px auto;
    text-align: center;
    &--map {
      max-width: 1127px;
    }
  }
  &__img img{
    width: 100%;
    height: auto;
  }
  &__paragraph {
    margin-bottom: 30px;
    font-family: $proximaFont;
    font-size: 18px;
  }
  &__button{
    margin: 80px 0;
    text-align: center;
  }
}

/*--------------- ABOUT US ---------------*/

.b-attitude {
  width: 1040px;
  margin: 40px auto 55px;
  @include clearfix();

  & > * {
    font-family: $proximaFont;
  }
  &__head {
    font-size: 72px;
    font-weight: $fontSemibold;
    color: #40ac6e;
    text-align: center;
  }
  &__pic {
    width: 860px;
    margin: 80px auto 40px;
  }
  &__pic img {
    width: 100%;
    height: auto;
  }
  &__left {
    float: left;
    width: 450px;
  }
   &__right {
    float: right;
    width: 450px;
  }
  &__icons {
    text-align: center;
    position: relative;
    margin: 80px 0 40px;
  }
  &__icons.icon-left:after {
    content: url(../pic/arrow-left.png);
    position: absolute;
    top: -40px;
    right: -35px;
  }
  &__icons.icon-right:before {
    content: url(../pic/arrow-right.png);
    position: absolute;
    top: -40px;
    left: -35px;
  }
  &__text p{
    font-size: 20px;
    margin-bottom: 22px;
  }
  &__text span{
    color: #40ac6e;
    font-weight: $fontSemibold;
  }
}

.b-philosophy {
  max-width: 1920px;
  height: 950px;
  background-image: url(../pic/philosophy.jpg);
  margin: 0 auto 80px auto;

  &__back {
    background: rgba(52,65,145,.6);
    width: 100%;
    height: 100%;
  }
  &__content {
    margin: 0 auto;
    width: 930px;
    color: #ffffff;
  }
  &__content p {
    margin-bottom: 30px;
    font-family: $proximaFont;
    font-size: 20px;
  }
  &__head {
    padding-top: 80px;
    margin-bottom: 80px;
    font-family: $proximaFont;
    font-size: 72px;
    font-weight: $fontSemibold;
    text-align: center;
    width: 100%;
  }
  &__sign {
    text-align: right;
  }
}

.b-means {
  width: 770px;
  margin: 0 auto;
  @include clearfix();

  &__head {
    font-family: $proximaFont;
    font-size: 72px;
    font-weight: $fontSemibold;
    text-align: center;
    margin-bottom: 80px;
  }
  &__left-col{
    float: left;
  }
  &__right-col{
    float: right;
  }
  &__item {
    text-align: center;
    margin-bottom: 80px;
  }
  &__item h3 {
    font-family: $proximaFont;
    font-size: 30px;
    font-weight: $fontSemibold;
  }
  &__item--thin {
    width: 217px;
    float: left;
    margin-bottom: 40px;
    cursor: pointer;
  }
  &__item--thin:last-child {
    float: right;
  }
  &__item--thin &__image {
    width: 217px;
    height: 217px;
  }
  &__item--thin &__image img {
    width: 100%;
    height: auto;
  }
  &__item--thin h3 {
    font-size: 30px;
  }
  &__image {
    width: 256px;
    height: 256px;
    position: relative;
    margin: 0 auto;
  }
  &__image--thin {
    border-radius: 50%;
  }
  &__hover {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(103,175,221,.8);
    width: 256px;
    height: 256px;
    border-radius: 50%;
    display: none;
  }
  &__hover p {
    font-size: 30px;
    font-weight: $fontSemibold;
    line-height: 1.1;
    text-align: center;
    color: #ffffff;
    margin-top: 50%;
    transform: translateY(-50%);
  }
  &__text {
    display: none;
    width: 660px;
    padding: 20px;
    background: #ffffff;
    position: absolute;
    top: 285px;
    left: -223px;
    z-index: 10;
  }
  &__text p {
    font-family: $proximaFont;
    font-size: 20px;
    text-align: left;
    margin-bottom: 30px;
  }
  &__text p:last-child {
    margin-bottom: 0;
  }
  &__image:hover &__hover{
    display: block;
  }
  &__image:hover &__text{
    display: block;
  }
  &__image--thin:hover &__hover{
    width: 217px;
    height: 217px;
    display: block;
  }
}


/*--------------- SAMPLE PAGES: CONNECT, LOGISTICS, PLUS ---------------*/

.b-connect {
  margin:80px 0;
  @include clearfix();
}
.b-about-service {
  width: 960px;
  height: 1027px;
  background-image: url(../pic/connect-img.jpg);
  float: left;

  &__back {
    box-sizing: border-box;
    background: rgba(52,65,145,.6);
    width: 100%;
    height: 100%;
    padding: 80px 40px 40px;
  }
  &__head {
    margin: 0 0 80px;
    text-align: center;
    font-family: $proximaFont;
    font-size: 72px;
    font-weight: $fontSemibold;
    color: #ffffff;
  }
  &__text {
    margin-bottom: 80px;
  }
  &__text p {
    margin-bottom: 30px;
    font-family: $proximaFont;
    font-size: 20px;
    color: #ffffff;
  }
}
/*--- logistics ---*/
h4.b-logistics-header__head {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.1;
}
.b-logistics {
  margin:80px 0;
  @include clearfix();

  .b-about-service {
    width: 960px;
    height: 1027px;
    background-image: url(../pic/logistics-img-1.jpg);
    float: left;
  }
}
/*--- plus ---*/
h4.b-plus-header__head {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.1;
}
.b-plus {
  margin:80px 0;
  @include clearfix();

  .b-about-service {
    width: 960px;
    height: 691px;
    background-image: url(../pic/plus-img.jpg);
    float: left;

    &__text p {
      margin-bottom: 25px;
    }
  }
}


.b-include {
  width: 410px;
  float: right;

  &__head {
    font-size: 36px;
    margin: 80px 0;
  }
  &__list{
    padding-left: 20px;
    list-style: none;
    font-size: 20px;
  }
  &__list-item {
    margin-left: 20px;
    text-indent: -37px;
  }
  &__list-item:before{
    content: '\2022';
    padding-right: 30px;
  }
}

.b-work {
  width: 1200px;
  margin: 0 auto 80px;

  &__head {
    font-size: 72px;
    font-weight: $fontSemibold;
    text-align: center;
    margin-bottom: 80px;
  }
  &__row {
    margin-bottom: 80px;
    @include clearfix();
  }
  &__item {
    width: 400px;
    float: left;
    text-align: center;
    position: relative;
  }
  &__image {
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
    position: relative;
  }
  &__image:hover > &__hover {
    display: block;
  }
  &__image:hover + &__text {
    display: block;
  }
  &__hover {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(103,175,221,.8);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
  }
  &__hover p {
    font-size: 30px;
    font-weight: $fontSemibold;
    line-height: 1.1;
    text-align: center;
    color: #ffffff;
    margin-top: 50%;
    transform: translateY(-50%);
  }
  &__item h3 {
    font-size: 30px;
    font-weight: $fontSemibold;
    text-align: center;
    line-height: 1;
    margin: 0;
  }
  &__text {
    width: 390px;
    background: #ffffff;
    padding: 20px;
    position: absolute;
    top: 235px;
    left: -15px;
    z-index: 10;
    display: none;
  }
  &__text:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 30px;
    margin-left: -30px;
  }
  &__text ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  &__text ul li {
    font-size: 20px;
    text-align: left;
  }
  &__text ul li:before{
    content: '\2022';
    padding-right: 30px;
  }
  &__button {
    text-align: center;
  }
  &__button a {
    font-size: 18px;
    font-weight: $fontSemibold;
  }
}


/*  extending-logistics  */
.b-extending-logistics {
  @include clearfix();
  width: 100%;
  font-family: $proximaFont;
  margin: 20px auto 80px;

  &__frase {
    color: #000000;
    font-size: 20px;
    text-align: center;
    width: 80%;
    margin: 25px auto 0 auto;
  }

  &__contacts {
    width: 436px;
    height: 562px;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    background-repeat: no-repeat;
  }

  &__contacts p, &__contacts ul {
    font-size: 18px;
    margin-bottom: 30px;
    padding: 0 40px;
  }
  &__contacts ul {
    list-style: none;
  }
  &__contacts ul li {
    margin-bottom: 10px;
  }
  &__button {
    text-align: center;
  }
  &__head {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 30px;
    padding-top: 40px;
    &--left {
      text-align: left;
      padding: 0 0 0 40px;
    }
  }

  &__town {
    font-size: 30px;
    font-weight: 600;
  }

  &__branch {
    color: #fff;
    font-size: 18px;
    display: inline-block;
  }
  .b-secondary-frase {
    margin-bottom: 70px;
  }
  &__content {
    width: 1170px;
    margin: 0 auto;
    @include clearfix();

    &--left {
      float: left;
      width: 590px;
      margin: 0 auto;
    }
    &--right {
      float: right;
      width: 436px;
    }
  }
  &__content-row {
    width: 100%;
    @include clearfix();
  }
}

.b-vertex-background {
  @include clearfix();
  background-size: cover;
  text-align: center;
  padding: 0;
  color: #fff;
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 1920px;
  margin: 0 auto 30px auto;

  &__table {
    display: table;
    width: 100%;
  }
  &__table__row {
    display: table-row;
  }
  &__table-cell {
    display: table-cell;
    vertical-align: middle;
  }
  &__content {
    display: inline-block;
    width: 100%;
  }
  &__head {
    font-size: 72px;
    line-height: 1.1;
    margin: 30px 0;
    font-weight: 600;

    &--main {
      margin-bottom: 0;
    }
    &--partner {
      position: relative;
    }
  }
  &__text {
    font-size: 36px;
    line-height: 1.2;
    margin: 30px 0;
    width: 100%;
    padding: 0 50px;
    display: inline-block;
    box-sizing: border-box;
  }
  &--partner {
    min-height: 80px;
  }
  &--partner &__table {
    height: 810px;
  }
  &--about &__table {
    height: 500px;
  }
  &--career &__table {
    height: 600px;
  }
  &--vacancy &__table {
    height: 614px;
  }
}

.b-vertex-background--thick {
  background-size: cover;
  .b-vertex-background__content {
    padding: 150px 0;
  }
}

.b-news-blocks-slider {
  margin: 30px 0;
}

/*------------------ ONLINE SERVICES -------------------*/

.b-mypolar {
  &__head {
    font-size: 72px;
    font-weight: $fontSemibold;
    color: #344191;
    margin: 50px 0 40px;
    text-align: center;
  }
  &__subtitle {
    font-size: 36px;
    color: #aaaaaa;
    text-align: center;
    margin-bottom: 80px;
  }
  &__list {
    width: 930px;
    margin: 0 auto 80px;
    list-style: none;
    font-size: 20px;
  }
  &__list-item:before {
    content: '\2022';
    padding-right: 5px;
  }
  &__button {
    text-align: center;
    margin-bottom: 80px;
  }
  &__button a {
    font-size: 18px;
  }
}

.b-track-trace {
  background: #f0f0f0;

  &__wrap {
    width: 1030px;
    margin: 0 auto;
    @include clearfix();
  }
  &__head {
    font-size: 72px;
    font-weight: $fontSemibold;
    text-align: center;
    margin: 80px 0;
  }
  &__text {
    width: 480px;
    float: right;
    font-size: 20px;
    margin-top: 65px;
  }
  &__text span{
    font-weight: $fontSemibold;
    color: #344191;
  }
}

.b-tracking {
  width: 400px;
  background: #344191;
  padding: 40px;
  margin-bottom: 80px;
  float: left;

  &__head {
    font-size: 30px;
    font-weight: $fontSemibold;
    color: #ffffff;
    margin: 0 0 40px;
  }
  &__input {
    margin-bottom: 40px;
  }
  &__button a{
    font-size: 18px;
  }
  &__advanced {
    font-size: 18px;
    color: #ffffff;
    padding-left: 5px;
    vertical-align: middle;
  }
  &__advanced a {
    color: #ffffff;
  }
  &__advanced a:hover {
    text-decoration: none;
  }
}

.b-tariff-requests {
  &__head {
    font-size: 72px;
    font-weight: $fontSemibold;
    text-align: center;
    margin: 80px 0;
  }
  &__form {
    width: 400px;
    margin: 0 auto 80px;
  }
  &__form-item {
    width: 388px;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    font-family: $proximaFont;
    font-size: 18px;
    color: #000000;
  }

  &__send-files {
    margin-bottom: 30px;
  }
  .b-tariff-requests__input-file {
    display: none;
  }
  .b-tariff-requests__label-file {
    font-size: 18px;
    line-height: 24px;
    padding: 5px 0 0 35px;
    position: relative;
  }
  .b-tariff-requests__label-file:before {
    content: "";
    width: 24px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../pic/icon-file.png") no-repeat;
  }
  &__button {
    text-align: center;
  }
  &__button a{
    font-size: 18px;
  }
}
.b-traffic {
  background: #5a5a5a;
  padding-bottom: 80px;

  &__head {
    font-size: 72px;
    font-weight: $fontSemibold;
    color: #ffffff;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 80px;
  }
  &__map {
    width: 1400px;
    height: 825px;
    margin: 0 auto;
   }
}

/*--------------- AWARDS ---------------*/

.b-awards {
  width: 1160px;
  margin: 80px auto;

  &__head {
    font-size: 72px;
    font-weight: $fontSemibold;
    text-align: center;
    margin-bottom: 80px;
  }
}
.b-award-item {
  margin-bottom: 40px;
  @include clearfix();

  &__image {
    width: 400px;
    height: 200px;
    float: left;
    margin-right: 20px;
  }
  &__text {
    width: 740px;
    float: left;
  }
  &__date {
    font-size: 18px;
    margin: 0 0 5px;
  }
  &__text-head {
    font-size: 36px;
    line-height: 1;
    margin: 0 0 35px;
  }
  &__icons a {
    width: 48px;
    height: 64px;
    display: inline-block;
    margin-right: 15px;
  }
  &__download {
    background-image: url("../pic/icon-download.png");
  }
  &__search {
    background-image: url("../pic/icon-search.png");
  }
  &__download:hover {
    background-image: url("../pic/icon-download-hover-b.png");
  }
  &__search:hover {
    background-image: url("../pic/icon-search-hover-b.png");
  }
}

.b-certificates {
  background: #f0f0f0;

  &__head {
    font-size: 72px;
    font-weight: $fontSemibold;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 80px;
  }
  &__content {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 80px;
  }
  &__row {
    margin-bottom: 40px;
    @include clearfix();
  }
  &__item {
    float: left;
    margin-left: 40px;
    position: relative;
  }
  &__item:hover > &__icons {
   display: block;
  }
  &__item:first-child {
    margin-left: 0;
  }
  &__icons {
    width: 300px;
    height: 400px;
    line-height: 400px;
    background: rgba(103,175,221,.8);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
  }
  &__icons a {
    width: 48px;
    height: 64px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
  }
  &__download {
    background-image: url("../pic/icon-download-white.png");
  }
  &__search {
    background-image: url("../pic/icon-search-white.png");
  }
  &__download:hover {
    background-image: url("../pic/icon-download-hover.png");
  }
  &__search:hover {
    background-image: url("../pic/icon-search-hover.png");
  }
}

/* Slder */
.rsHomePorthole .rsCapt {
  height: 70%;
  padding: 20px 0;
  bottom: 0;
  width: 60% !important;
  right: 0 !important;
  left: auto !important;
}
.rsTitle {
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
}
.rsDesc {
  a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    line-height: 40px;
    padding: 20px 0;
    display: inline-block;
  }
  img {
    margin-top: 20px;
  }
}

/*--------------- CAREER ---------------*/

.b-career {
  width: 96%;
  max-width: 1400px;
  margin: 0 auto;
  @include clearfix();

  &__head {
    font-size: 72px;
    font-weight: $fontSemibold;
    text-align: center;
    margin-bottom: 80px;
  }
  &__left {
    float: left;
    width: 57%;
  }
  &__text p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  &__right {
    float: right;
    width: 40%;
  }
  &__right img {
    width: 100%;
    max-width: 572px;
    height: auto;
    margin-top: 45px;
  }
}

.b-vacancies {
  width: 100%;
  height: auto;
  background: #f0f0f0;
  padding-bottom: 40px;

  &__head {
    font-size: 72px;
    font-weight: $fontSemibold;
    text-align: center;
    margin-bottom: 80px;
    padding-top: 80px;
  }
  &__list {
    width: 96%;
    max-width: 1400px;
    margin: 0 auto;
    //padding-bottom: 40px;
    @include clearfix();
  }
  &__item {
    //width: 436px;
    //height: 562px;
    width: 30%;
    height: auto;
    float: left;
    position: relative;
    background: blueviolet;
    margin-right: 5%;
    margin-bottom: 40px;

    &--no-open {
      h3, .b-vacancies__text p {
        opacity: 0.6;
      }
    }
  }
  &__item:nth-child(3n) {
    margin-right: 0;
  }
  &__item img {
    width: 100%;
    height: auto;
  }
  &__item h3 {
    font-size: 60px;
    font-weight: $fontSemibold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 40px;
  }
  &__text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__text p {
    font-size: 30px;
    font-weight: $fontSemibold;
    line-height: 1.2;
    color: #ffffff;
    text-align: center;
    padding: 0 20px;
  }
  &__text a {
    color: #ffffff;
  }
  &__text a:hover {
    text-decoration: none;
  }
}

/*--------------- CONTACT US ---------------*/

.b-contact {
  margin-bottom: 80px;

  &__head {
    font-size: 72px;
    font-weight: $fontSemibold;
    text-align: center;
    margin: 80px 0;
  }
  &__row {
    @include clearfix();
  }
  &__item {
    float: left;
    //width: 480px;
    width: 33.333%;
    height: auto;
    background: #344191;
    position: relative;
  }
  &__item img {
    width: 100%;
    height: auto;
  }
  &__item-head {
    width: 100%;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    font-size: 60px;
    font-weight: $fontSemibold;
    line-height: 1.1;
    color: #ffffff;
    text-align: center;
  }

  /*--- hover ---*/
  &__office {
    width: 292%;
    height: auto;
    //max-height: 160%;
    padding: 8% 0 8% 8%;
    background: #67afdd;
    position: absolute;
    z-index: 100;
    color: #ffffff;
    display: none;
    @include clearfix();

    &--rus {
      top: 0;
      left: 0;
    }
    &--ned {
      top: 0;
      left: -100%;
    }
    &--ger {
      top: 0;
      left: -200%;
    }
    &--pol {
      top: -100%;
      left: 0;
    }
    &--fin {
      top: -100%;
      left: -100%;
    }
    &--ukr {
      top: -100%;
      left: -200%;
    }
  }
  &__office-head {
    font-size: 60px;
    font-weight: $fontSemibold;
    margin: 0 0 3%;
    display: none;
  }
  &__office-item {
    width: 30%;
    float: left;
    margin-right: 3%;
    margin-bottom: 2%;
    display: none;
  }
  &__office-item h4{
    font-size: 30px;
    font-weight: $fontSemibold;
    line-height: 1;
    margin: 0 0 5px;
  }
  &__office-item ul {
    list-style: none;
    margin: 0 0 3%;
    padding: 0;
  }
  &__office-item ul li {
    font-size: 20px;
    line-height: 1.2;
    display: block;
    margin: 0;
  }
  &__office-item ul li span{
    text-decoration: underline;
  }
}

.b-question {
  background: #f0f0f0;

  &__head {
    font-size: 72px;
    font-weight: $fontSemibold;
    text-align: center;
    padding: 80px 0;
    margin: 0;
  }
  &__form {
    width: 400px;
    margin: 0 auto;
    padding-bottom: 80px;
  }
  input.b-form__input {
    height: 36px;
  }
  &__send-files {
    margin-top: 8px;
    margin-bottom: 30px;
  }
  &__input-file {
    display: none;
  }
  &__label-file {
    font-size: 18px;
    line-height: 24px;
    padding: 0 0 0 35px;
    position: relative;
    cursor: pointer;
  }
  &__label-file:hover {
    text-decoration: underline;
  }
  &__label-file:before {
    content: "";
    width: 24px;
    height: 32px;
    position: absolute;
    top: -5px;
    left: 0;
    background: url("../pic/icon-file.png") no-repeat;
  }
  &__button {
    text-align: center;
  }
  &__button a{
    font-size: 18px;
  }
}

/*--------------- FAQ ---------------*/

.b-faq {
  &__head {
    font-size: 72px;
    font-weight: $fontSemibold;
    text-align: center;
    margin: 80px 0 40px;
  }
  &__subtitle {
    font-size: 36px;
    line-height: 1.2;
    color: #aaaaaa;
    text-align: center;
    margin-bottom: 80px;
  }
  &__text {
    width: 720px;
    margin: 0 auto 80px;
  }
  &__text p {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
.b-faq-acc {
  width: 900px;
  margin: 0 auto 80px;
  padding-right: 25px;

  &__list {
    list-style: none;
    padding-left: 0;
  }
  &__item {
    margin-bottom: 15px;
    position: relative;
  }
  &__item:after {
    content: "";
    width: 20px;
    height: 12px;
    background: url("../pic/arrow.png") no-repeat;
    position: absolute;
    top: 15px;
    right: 0;
    display: block;
  }
  .active:after {
    transform: rotate(180deg);
  }
  &__item-link {
    width: 100%;
    background: #344191;
    color: #ffffff;
    font-size: 18px;
    font-weight: $fontSemibold;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 15px;
    display: block;
    position: relative;
  }

  &__item-content-wrap {
    width: 100%;
    padding: 0 15px 15px;
    display: none;
  }
  &__item-content {
    width: 100%;
    max-width: 730px;
    margin: 0 auto;
    text-align: center;
  }
  &__item-content h4 {
    font-size: 18px;
    font-weight: $fontSemibold;
    line-height: 1;
    text-align: center;
    margin: 0 0 40px;
    padding-top: 40px;
  }
  &__item-content img {
    width: 95%;
    max-width: 454px;
    height: auto;
    margin-bottom: 20px;
  }
  &__item-content p {
    font-size: 18px;
    margin-bottom: 25px;
    text-align: left;
  }
  &__item-content ol {
    margin-bottom: 25px;
    padding-left: 20px;
    text-align: left;
  }
  &__item-content ol li {
    font-size: 18px;
  }
}

/*--------- POPUP ---------*/

.b-popup {
  width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0;
  display: none;
}
.b-popup__content {
  width: 480px;
  height: 640px;
  margin: 8% auto;
  background: #ffffff;
  padding-top: 40px;
  z-index: 500;
}
.b-popup__content textarea {
 resize: none;
}