/*-----------------------------------MIXINS----------------------------------*/
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/*-----------------------------------GLOBALS----------------------------------*/
html, body {
	font-family: $proximaFont;
	font-weight: $fontNormal;
}
/*-----------------------------------LAYERS----------------------------------*/
.l-content {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
  @include clearfix();

  &--wide{
    width: 100%;
    max-width: none;
  }
  &--dark{
    background: unquote("rgb(#{$color-primary})");
  }
}
.l-main-menu-wrapper {
	float: right;
}
.l-login-form {
	width: 482px;
	background-color: rgba(52, 65, 145, 0.8);
	border-radius: 5px;
}
/*-----------------------------------BLOCKS----------------------------------*/
.mdl-cell--no-t-marg {
	margin-top: 0;
	margin-bottom: 0;
}
.mdl-grid--no-t-pad {
	padding-top: 0;
	padding-bottom: 0;
}
.mdl-button {
	font-family: $proximaFont;
	font-weight: $fontNormal;
	color: #fff;
}
.mdl-layout__header .mdl-layout-title {
	display: none;
}
.mdl-layout__header-row, .mdl-layout__header-row .mdl-navigation {
	height: auto;
}
.mdl-layout__header-row {
	padding: 0;
}
.mdl-button--no-capital {
	text-transform: none;
}
.mdl-navigation--main-menu {
	display: inline-block;
	float: right;
	padding: 40px 0 !important;

	.mdl-button {
		font-size: 22px;
		padding: 0;
		line-height: 22px;
		height: 22px;
		margin: 0 35px;
	}
	.mdl-button:hover, .mdl-button:focus:not(:active) {
		background: none;
		border-bottom: 1px solid #9fa4c5;
	}
	.mdl-button:last-child {
		margin-right: 0;
	}
	.mdl-menu__outline, .mdl-menu {
		top: 20px;
	}
	.mdl-menu {
		padding: 0px;
	}
	.mdl-menu__item {
		font-size: 20px;
		border-bottom: 1px solid #cccccc;
		height: 60px;
		line-height: 60px;
		color: #000;
	}
	.mdl-menu__item:last-child {
		border-bottom: none;
	}
	.mdl-menu__item:first-child:hover {
		border-radius: 2px 2px 0 0;
	}
	.mdl-menu__item:last-child:hover {
		border-radius: 0 0 2px 2px;
	}
	.mdl-menu__item:hover {
		background-color: #67afdd;
		color: #fff;
	}
}
header {
	.mdl-textfield {
		padding: 24px 0 !important;
		min-height: 44px;
	}
	.mdl-textfield .mdl-button {
		bottom: auto;
	}
	.mdl-textfield .mdl-button i {
		font-size: 44px;
	}
	.mdl-button--icon {
		width: 44px;
		height: 44px;
	}
	.mdl-textfield__input {
		font-family: $proximaFont;
		font-weight: $fontLight;
		border-bottom: 1px solid rgba(255, 255, 255, .4);
	}
	.mdl-textfield__expandable-holder {
		margin-left: 50px;
		padding-top: 5px;
	}
}
.b-logo {
	display: inline-block;
	width: 148px;
	float: left;
	padding: 24px 0;

	img {
		width: 100%;
		height: auto;
	}
}
.b-top-row {
	background: unquote("rgb(#{$color-accent})");

	a {
		color: #fff;
		text-decoration: none;
		border-color: unquote("rgb(#{$color-accent})");
		transition: border-color 0.3s linear 0s;
		font-size: 15px;
	}
	a:hover {
		border-bottom: 1px solid #94c5e6;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		display: inline-block;
		float: left;
		margin: 0 8px;
	}
	li:last-child {
		margin-right: 0px;
	}
	li:first-child {
		margin-left: 0px;
	}

	.b-top-row__urls{
		float: right;

		a {
			border-bottom: 1px solid #94c5e6;
			transition: border-color 0.3s linear 0s;
		}
		a:hover {
			border-color: unquote("rgb(#{$color-accent})");
		}
	}
	.b-top-row__location{
		float: left;

		a, a:hover {
			border: 0;
		}
		a span {
			border-bottom: 1px solid unquote("rgb(#{$color-accent})");
			transition: border-color 0.3s linear 0s;
		}
		a:hover span {
			border-color: #94c5e6;
		}
	}
	.material-icons {
		position: relative;
		font-size: 20px;
		margin-right: 8px;
		bottom: -4px;
	}
	.mdl-grid {
		padding-top: 6px;
		padding-bottom: 6px;
	}
}
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
	background-image: url('../img/tick.svg');
}
.mdl-checkbox__tick-outline {
	mask: url('../img/tick-mask.svg');
}

.b-form {
	width: 100%;
	box-sizing: border-box;

	&__textfield {
		width: 100%;
		padding: 7px 0;
	}
	&__header {
		font-size: 30px;
		font-weight: $fontSemibold;
		font-family: $proximaFont;
		color: #fff;
	}
	&__input {
		background: #fff;
		border: 1px solid #cccccc;
		color: #aaaaaa;
		line-height: 34px;
		font-size: 18px;
		font-family: $proximaFont;
		border-radius: 3px;
		padding: 0 10px;
		box-sizing: border-box;
	}
	&__label {
		line-height: 34px;
		font-size: 18px;
		font-family: $proximaFont;
		padding: 0 10px;
		top: 8px;
		font-weight: $fontSemibold;
		box-sizing: border-box;
	}
	&__label:after {
		background-color: unquote("rgb(#{$color-accent})");
		bottom: 7px;
	}
	&__checkbox-label {
		color: #fff;
	}
	&__buttons {
		color: #fff;
		font-size: 18px;
	}
	&__alter-link {
		color: #fff;
		text-decoration: none;
	}
	&__alter-link:hover {
		text-decoration: none;
	}
	.mdl-checkbox__box-outline {
		background: #fff;
		border: 0;
		border-radius: 3px;
		color: #000;
	}
	.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
		border: 0;
		background: none;
	}
	.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
		color: #000;
		background: #fff url("../img/tick.svg?embed");
	}
	.b-form__buttons{
		.b-form__alter-link {
			margin-left: 5px;
		}
		.mdl-button {
			margin-right: 5px;
		}
	}
}

.b-main-slider {
	position: relative;
  // display: none;

	&__loginform {
		position: absolute;
		top: 20px;
		padding: 10px 40px;
		box-sizing: border-box;
	}
}

.b-footer {
  &__up-row {
    background: unquote("rgb(#{$color-primary})");
    text-align: center;
  }
  &__down-row {
    color: #fff;
    font-size: 14px;
    background: unquote("rgb(#{$color-accent})");
  }
}

.b-footer-links { color: #fff; display: inline-block; text-align: left; padding: 20px 0;
  &__head {
    font-size: 24px;
    margin-bottom: 30px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    margin: 5px 0;
  }
  a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
  }
}

.b-social {
  display: inline-block;
  padding-top: 4px;
  margin: 0 15px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    float: left;
    padding: 0 5px;
  }
  a {
    height: 15px;
    width: 15px;
    padding: 2px;
    color: unquote("rgb(#{$color-accent})");
    text-decoration: none;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
    transition: background-color 0.1s linear 0s;
    transition: color 0.1s linear 0s;
  }
  a:hover, a:active {
    background: unquote("rgb(#{$color-primary})");
    color: #fff;
  }
}

.b-footer-ground-links {
  display: inline-block;
  padding-top: 5px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    float: left;
    position: relative;
    padding: 0 7px 0 6px;
  }
  li:after {
    content: '';
    display: block;
    width: 1px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: 4px;
    right: 0;
  }
  li:last-child:after {
    display: none;
  }
  a {
    color: #fff;
  }
}

.b-copy {
  padding-top: 8px;
}

.b-sec-slider {
  padding: 65px 0;
  &__head {
    font-size: 72px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 60px;
  }
  .swiper-button {
    color: unquote("rgb(#{$color-primary})");
  }
  &--white {
    .b-sec-slider__head {
      color: #fff;
    }
    .b-one-slide-block__wrapper {
      background: #fff;
    }
    .swiper-button {
      color: #fff;
    }
  }
}

.swiper-button {
  margin-top: -15px;

  i {
    font-size: 40px;
    line-height: 40px !important;
    width: 40px !important;
    height: 40px !important;
  };
}

.swiper-button-prev {
  position: absolute;
  left: 0px;
  i {
    transform: translate(-21px, -19px) !important;
  };
}

.swiper-button-next {
  position: absolute;
  right: 0px;
  i {
    transform: translate(-19px, -20px) !important;
  };
}

.b-one-slide-block {
  width: 33.33333333333333%;
  box-sizing: border-box;
  float: left;
  padding: 2%;

  &__wrapper {
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.swiper-container {
    width: 90%;
    // overflow: visible;
    padding: 0 1.5%;
}

.b-text-content {
  & > * {
    font-size: 30px;
    line-height: 35px;
  }

  margin: 3em 0;

  p {
    margin: 1.2em 0;
  }

  strong {
    color: unquote("rgb(#{$color-primary})");
  }
}

.b-button-wrapper {
  margin: 4em 0;
  text-align: center;
}

.b-main-image {
  position: relative;
  &__image {
    display: block;
    width: 100%;

  &__image img {
      width: 100%;
      height: auto;
    }
  }
  &__wrapper {
    display: table;
    text-align: center;
    width: 100%;
  }
  &__row {
    display: table-row;
    text-align: center;
  }
  &__cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
  }
  &__text {

  }
}
/*-----------------------------------HOLDERS----------------------------------*/


/*-----------------------------------HELPERS----------------------------------*/
.bordered{ border:1px solid red; }
.font-antialiased { text-shadow: rgba(0,0,0,.3) 0 0 2px; }
.location-icon { margin-right: 0px !important; }
.top-bot-m-0 { margin-top: 0; margin-bottom: 0; }
.top-bot-p-0 { padding-top: 0; padding-bottom: 0; }

.underline-link {
	text-decoration: none;
	border-bottom: 1px solid #fff;
	transition: border-color 0.1s linear 0s;

	&:hover {
		text-decoration: none;
		border-color: transparent;
	}
}

.underlined-link {
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: border-color 0.1s linear 0s;

	&:hover {
		text-decoration: none;
		border-color: #fff;
	}
}

/*------------------------  PARTNERS ----------------------------*/

.b-text-main {
    margin-top: 80px;

    & > * {
      font-size: 18px;
    }
    &__head {
      color: #344191;
      font-weight: $fontSemibold;
    }
    &__paragraph {
      margin-bottom: 30px;
    }
    &__list{
      padding-left: 0;
      list-style: none;
    }
    &__list-item {

    }
    &__list-item:before{
      content: '\2022';
      padding-right: 30px;
    }

    /*--------- rail-cargo --------*/

    &__big {
      width: 100%;
      max-width: 1320px;
      margin: 0 auto;
      font-size: 36px;
      color: #aaaaaa;
      text-align: center;
      line-height: 1.2;
      margin-bottom: 75px;
    }
    &__small{
      max-width: 900px;
      margin: 0 auto;
      margin-bottom: 75px;
    }
}

/*--------------------  NEWS  ----------------------*/
.b-news-list{
  margin-top: 80px;
}

.b-news-item {
  margin-bottom: 40px;
  @include clearfix();

  &__image {
    width: 300px;
    float: left;
  }
  &__text {
    width: 1080px;
    float: right;
  }
  &__text > * {
    font-family: $proximaFont;
    font-size: 20px;
    line-height: 24px;
  }
  &__head {
    font-size: 30px;
    color: #344191;
    line-height: 30px;
    margin: 20px 0 35px;
  }
  &__subtitle {
    margin-bottom: 30px;
  }
  &__learn-more {
    width: 100%;
    text-align: right;
  }
  &__learn-more a {
    color: #000000;
  }
}

.pagination {
  width: 100%;

  &__list {
    list-style: none;
    text-align: center;
  }
  &__list-item {
    display: inline-block;
    margin: 0 5px;
    padding: 0 3px;
    vertical-align: middle;
  }
  &__list-item a {
    font-size: 20px;
    font-family: $proximaFont;
    color: #cccccc;
    text-decoration: none;
  }
  &__list-item.back > a, &__list-item.forward > a {
    color: #000000;
    font-size: 42px;
  }
  &__list-item.active > a {
    color: #344191;
  }
  &__list-item a:hover {
    color: #344191;
  }
}

/*----------   BODY-NEWS   -----------*/

.l-content {
  &__head {
    font-size: 50px;
    color: #344191;
    font-family: $proximaFont;
    font-weight: $fontSemibold;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  &__subtitle {
    font-size: 36px;
    font-family: $proximaFont;
  }
  &__img {
    margin: 40px auto;
    text-align: center;
  }

  &__paragraph {
    margin-bottom: 30px;
    font-family: $proximaFont;
    font-size: 18px;
  }
  &__button{
    margin: 80px 0;
    text-align: center;
  }
}

/*--------------- ABOUT US ---------------*/

.b-attitude {
  width: 1040px;
  margin: 80px auto 55px;
  @include clearfix();

  & > * {
    font-family: $proximaFont;
  }
  &__head {
    font-size: 72px;
    font-weight: $fontSemibold;
    color: #40ac6e;
    text-align: center;
  }
  &__left {
    float: left;
    width: 450px;
  }
   &__right {
    float: right;
    width: 450px;
  }
  &__icons {
    text-align: center;
    position: relative;
    margin: 80px 0 40px;
  }
  &__icons.icon-left:after {
    content: url(../pic/arrow-left.png);
    position: absolute;
    top: -40px;
    right: -35px;
  }
  &__icons.icon-right:before {
    content: url(../pic/arrow-right.png);
    position: absolute;
    top: -40px;
    left: -35px;
  }
  &__text p{
    font-size: 20px;
  }
  &__text span{
    color: #40ac6e;
  }
}

.b-philosophy {
  width: 1920px;
  height: 950px;
  background-image: url(../pic/philosophy.jpg);
  margin-bottom: 80px;

  &__back {
    background: rgba(52,65,145,.6);
    width: 100%;
    height: 100%;
  }
  &__content {
    margin: 0 auto;
    width: 930px;
    color: #ffffff;
  }
  &__content p {
    margin-bottom: 30px;
    font-family: $proximaFont;
    font-size: 20px;
  }
  &__head {
    padding-top: 80px;
    margin-bottom: 80px;
    font-family: $proximaFont;
    font-size: 72px;
    font-weight: $fontSemibold;
    text-align: center;
  }
  &__sign {
    text-align: right;
  }
}

.b-means {
  width: 770px;
  margin: 0 auto;
  @include clearfix();

  &__head {
    font-family: $proximaFont;
    font-size: 72px;
    font-weight: $fontSemibold;
    text-align: center;
    margin-bottom: 80px;
  }
  &__left-col{
    float: left;
  }
  &__right-col{
    float: right;
  }
  &__item {
    text-align: center;
    margin-bottom: 80px;
  }
  &__item h3 {
    font-family: $proximaFont;
    font-size: 30px;
    font-weight: $fontSemibold;
  }
  &__image {
    width: 256px;
    height: 256px;
    position: relative;
    margin: 0 auto;
  }
  &__hover {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(103,175,221,.8);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
  }
  &__hover p {
    font-size: 30px;
    font-weight: $fontSemibold;
    line-height: 1.25;
    text-align: center;
    color: #ffffff;
    margin-top: 35%;
  }
  &__text {
    display: none;
    width: 660px;
    padding: 20px;
    background: #ffffff;
    position: absolute;
    top: 285px;
    left: -223px;
    z-index: 10;
  }
  &__text p {
    font-family: $proximaFont;
    font-size: 20px;
    text-align: left;
    margin-bottom: 30px;
  }
  &__text p:last-child {
    margin-bottom: 0;
  }
  &__image:hover &__hover{
    display: block;
  }
  &__image:hover &__text{
    display: block;
  }

}
